<h1>New Article</h1>

<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title, class: "form-label" %><br>
    <%= form.text_field :title, class: "form-control" %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div class="alert alert-warning" role="alert"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-control" %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div class="alert alert-warning" role="alert"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <div class="form-radio">
        <%= radio_button_tag(:age, "child", class: "form-radio-input") %>
<%= label_tag(:age_child, "I am younger than 21",  class: "form-radio-label") %>
<%= radio_button_tag(:age, "adult", class: "form-radio-input") %>
<%= label_tag(:age_adult, "I'm over 21", class: "form-radio-label") %>
    </div>
        <% @article.errors.full_messages_for(:age).each do |message| %>
      <div class="alert alert-warning" role="alert"><%= message %></div>
    <% end %>
  </div>

  <div class="">
      <span class="mr-2">
        <%= form.submit class: "btn btn-primary" %>
      </span>
      <span class="">
        <%= link_to "Cancel", root_path, class: "btn btn-link" %>
      </span>
  </div>
<% end %>
